<ion-view view-title="Now Playing">
  <ion-content>
    <ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback">
      <div class="card">
        <div class="item item-thumbnail-left">
          <img ng-src="{{dynamicTrack.art}}">
          <h2>{{dynamicTrack.title}}</h2>
          <p>{{dynamicTrack.artist}}</p>
        </div>
      </div>
      <div class="row text-center item-borderless">
        <div class="col col-50 col-offset-25">
          <a class="button button-icon ion-skip-backward" style="padding-right: 20%" ng-click="playPreviousTrack()"></a>
          <ion-audio-controls>
            <a class="button button-icon icon" ion-audio-play></a>
            <ion-spinner style="position: absolute; top: auto; left: auto"></ion-spinner>
          </ion-audio-controls>
          <a class="button button-icon ion-skip-forward" ng-click="playNextTrack()" style="padding-left: 20%"></a>
        </div>
      </div>
    </ion-audio-track>

    <div class="bar-footer">
      <ion-audio-progress-bar track="dynamicTrack" display-time></ion-audio-progress-bar>
    </div>
  </ion-content>
</ion-view>
